<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.spring_boot.projectEx.model.IMemberDAO">
 	<!-- public String loginCheck(HashMap<String, Object> map) : 로그인 기능(비밀번호 암호화되지 않은 경우) 
 	<select id="loginCheck" parameterType="hashmap" resultType="string">
 		SELECT memId FROM member WHERE memId=#{id} AND memPwd=#{pwd}
 	</select> -->
 	<!-- public String loginCheck(String id) : id가 일치하면 비밀번호 반환-->
 	<select id="loginCheck" parameterType="string" resultType="string">
 		SELECT memPwd FROM member WHERE memId=#{id}
 	</select>
 	
	<!-- public String idCheck(String id) --> 	
	<select id="idCheck" resultType="string" parameterType="string">
		SELECT memId FROM member WHERE memId=#{id}
	</select>
	<!-- public void insertMember(MemberDTO dto) -->
	<insert id="insertMember" parameterType="com.spring_boot.projectEx.dto.MemberDTO">
		INSERT INTO member(memId, memPwd, memName, memEmail, memHp, memZipcode, memAddress1, memAddress2)
		VALUES (#{memId},#{memPwd}, #{memName}, #{memEmail}, #{memHp}, #{memZipcode}, #{memAddress1},#{memAddress2})
	</insert>
 </mapper>